{
    "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}}],
        [
            "@babel/preset-react",
            {
              "runtime": "automatic" // defaults to classic
              // "importSource": "custom-jsx-library" // defaults to react (only in automatic runtime)
            }
          ]
    ]
}