body{
    margin: 0px 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    background-color: lightcyan;
}

.logo-img{
    width: 100px;
    height: 100%;  
}

.nav-container{
    display: flex;
    justify-content: space-around;
}

.nav-item-container{
    margin-right: 100px;
}

.nav-item-val{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar-container{
}

.input-box{
    width: 40%;
    height: 30px;
    border: none;
    margin-left: 30%;
}

.search-btn{
    height: 30px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: whitesmoke;
    cursor: pointer;
}

.rescard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.resturant-card{
    width: 254px;
    height: 295px;
    margin: 30px 20px;
    cursor: pointer;
    padding: 20px 20px;
}

.resturant-card:hover{
    box-shadow: 10px 15px 40px 10px rgba(8, 8, 12, 0.15);
}

.resturant-image{
    width: 254;
    height: 160;
}

.res-name{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.res-cuisine{
    width: 100%;
    height: 39px;
    color: rgb(104,107,120);
    font-size: 13px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 15.6px;
    letter-spacing: normal;
    margin-top: 4px;
    word-break: break-all;
}

.res-rating{
    width: 33px;
    height: 20px;
    padding-left: 5px;
}
.res-delivery-time{
    height: fit-content;
    width: fit-content;
    padding-left: 5px;
}

.res-price{
    height: fit-content;
    width: fit-content;
    padding-left: 5px;
}

.wrapping-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}